h1 {
    /* offset-x offset-y blur  color */
    text-shadow: 2px 1px 1px orange;
}

/* Estilizando imagens */

img {
    border: 3px solid red;
    border-radius: 10px;
    transition: transform 0.3;
}

img:hover {
    /* transform: scale(1.10); */
    /* transform: rotate(-45deg) */
    transform: translateY(-20px);
    border-color: blue;
    opacity: 0.3; /* Transparência */
}

.img-link {
    width: 150px;
    height: 50px;
    object-fit: contain; /* Mantém a proporção da língua da iamgem */
}